import os


# Extract Functions
ef_dataset_path = "~/BigCloneEval/ijadataset/bcb_reduced" # The Path of The Dataset
ef_read_max_workers = 32 # 并发读取文件的最大工作线程数
ef_parse_max_workers = os.cpu_count() # 并发解析文件的最大工作进程数，默认为 CPU 核心数
ef_cache_filepath = f"./cache/{os.path.basename(os.path.expanduser(ef_dataset_path))}_function_info.pkl" # 提取结果的缓存文件路径

# Embedding
emb_cache_filepath = f"./cache/{os.path.basename(os.path.expanduser(ef_dataset_path))}_function_embedding.pkl" # 提取结果的缓存文件路径

# KMeans
kmeans_n_centroids = 861893 // 1024 # KMeans 的簇数量
kmeans_n_iter = 30 # KMeans 的最大迭代次数，默认为 30
kmeans_n_redo = 3 # KMeans 的重试次数，默认为 3
kmeans_verbose = True # 是否在 KMeans 训练过程中输出详细日志，默认为 True
kmeans_use_gpu = True # 是否使用 GPU 加速 KMeans 训练，默认为 True，如果设置为 True 但未检测到 GPU，则会自动降级为 CPU 模式并输出警告
kmeans_cache_filepath = f"./cache/{os.path.basename(os.path.expanduser(ef_dataset_path))}_kmeans_result_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}.pkl" # KMeans 结果的缓存文件路径

# Init Clone Classes
icc_cache_filepath = f"./cache/{os.path.basename(os.path.expanduser(ef_dataset_path))}_clone_classes_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}.pkl" # 克隆类持久化文件路径

# Generate Batch Requests
gbr_output_file = f"./batch/{os.path.basename(os.path.expanduser(ef_dataset_path))}_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}.jsonl" # 生成的 JSONL 文件的输出文件路径

# Zhipu API Key
zai_api_key = os.getenv("ZAI_API_KEY", "")

# Batch Upload
bu_batch_ids_filepath = f"./batch/{os.path.basename(os.path.expanduser(ef_dataset_path))}_batch_ids_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}.txt" # 批次 ID 的输出文件路径
bu_request_parts_dir = f"./batch/requests_parts/{os.path.basename(os.path.expanduser(ef_dataset_path))}_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}" # 拆分后的请求文件的输出目录
bu_max_part_file_size = 100 * 1024 * 1024
bu_max_part_file_lines = 50000

# Batch Download
bd_download_dir = f"./batch/downloads/{os.path.basename(os.path.expanduser(ef_dataset_path))}_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}" # 下载结果的输出目录
bd_merged_filepath = f"./batch/{os.path.basename(os.path.expanduser(ef_dataset_path))}_output_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}.jsonl" # 合并后的结果文件路径

# Import LLM Results
illm_batch_size = 10000 # 每批次处理的记录数

# Generate Final CSV
gfc_output_csv = f"./batch/{os.path.basename(os.path.expanduser(ef_dataset_path))}_final_clones_centroid{kmeans_n_centroids}_iter{kmeans_n_iter}_redo{kmeans_n_redo}.csv" # 最终克隆对 CSV 输出路径

